.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 284px));
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  padding: 92px 48px 0 48px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, minmax(180px, 300px));
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, minmax(140px, 352px));
    grid-template-rows: repeat(auto, 264px);
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-rows: repeat(12, minmax(0,216px));
    grid-template-columns: 288px;
    max-width: 288px;
    gap: 12px;
    padding: 64px 16px 0 16px;
  }
}
