.lead__title {
  max-width: 720px;
  margin: auto;
  text-align: center;
  line-height: 1.04;
  font-size: 6rem;
  padding: 0;
  font-style: normal;
  font-weight: 900;
}

@media screen and (max-width: 719px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    width: 288px;
  }
}
