.place__paragraph_grid-place_second {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 27px;
}

@media screen and (max-width: 768px) {
  .place__paragraph_grid-place_second {
    margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph_grid-place_second {
    margin-top: 25px;
  }
}
