.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  text-align: center;
  line-height: 1.2;
  font-size: 1.875rem;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 1.25;
    max-width: 288px;
    margin: 16px auto 0;
  }    
}