.place__link {
  padding: 0;
  margin: 12px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.22;
  color: #FFFFFF;
  transition: opacity .5s linear;
}

.place__link:hover {
  opacity: .8;
}
