.lead__caption {
  min-width: 158px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 1.4;
  text-transform: uppercase;
  padding: 0;
  margin: 8px 0 0;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
