.cover-parent {
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .cover-parent  {
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover-parent {
    padding-top: 66px;
  }
}